@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
.catalog__item-link, .product__banner-text {
  font-family: "Montserrat-Regular, sans-serif";
  font-style: normal;
  font-weight: 400;
}

.catalog__link-all, .catalog__card-title, .product__banner-title {
  font-family: "Montserrat-Medium, sans-serif";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #1e1e1e;
  margin-bottom: 15px;
  text-align: left;
}

body {
  background: #fff;
}

.header-top {
  border-bottom: 1px solid #e5e5e5;
  /*CSS-свойства для блока, содержащего контент модального окна */
  /*CSS-свойства заголовка модального окна */
  /*CSS для кнопки закрытия*/
  /*CSS для блока с текстом*/
}
.header-top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 16px;
}
.header-top__location, .header-top__link, .header-top__account {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #1E1E1E;
}
.header-top__list, .header-top__account {
  display: flex;
  align-items: center;
}
.header-top__item + .header-top__item {
  margin-left: 22px;
}
.header-top__account img {
  margin-right: 9px;
}
.header-top__location img {
  margin-right: 3px;
}
.header-top .iw-modal {
  opacity: 0;
  /*изначально этот блок должен быть прозрачным*/
  background: rgba(30, 30, 30, 0.25);
  /*задаём цвет фона*/
  pointer-events: none;
  /*делаем чтобы по элементу нельзя было кликнуть когда он прозрачный*/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
}
.header-top .iw-modal:target {
  opacity: 1;
  /*при клике блок становится видимым*/
  pointer-events: auto;
  /*теперь по блоку можно кликать мышкой*/
  overflow-y: auto;
  /*прокрутка по вертикли страницы*/
}
.header-top .iw-modal-wrapper {
  margin: auto;
  /*выравниваем модальное окно по центру по горизонтали*/
  margin-top: 25vh;
  /*отступ сверху можно задавать в px, % или vh*/
  max-width: 494px;
  max-height: 491px;
  height: 100%;
  width: 100%;
  background-color: #1c4e8a;
  overflow: hidden;
  border-radius: 5px;
}
.header-top .iw-CSS-modal-inner {
  position: relative;
  background: #fff;
  /*цвет фона*/
  border-radius: 0px;
  /*радиус скругления углов*/
  border-radius: 5px;
  padding: 38px 29px 42px;
  height: 100%;
}
.header-top .iw-modal-header {
  padding: 15px;
  /*внутренний отступ*/
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #1e1e1e;
}
.header-top__modal {
  max-width: 100%;
  width: 100%;
}
.header-top__input {
  width: 100%;
  padding: 10px 9px 11px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.header-top__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}
.header-top__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}
.header-top__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}
.header-top .iw-modal-title {
  font-size: 18px;
  /*размер шрифта*/
  color: #555;
  /*цвет шрифта*/
  font-weight: bold;
  /*жирность шрифта*/
  line-height: 1.5;
  /*высота строки*/
  margin-top: 0;
  margin-bottom: 0;
}
.header-top .iw-close {
  position: absolute;
  top: 15px;
  /*отступ сверху*/
  right: 10px;
  /*отступ справа*/
  font-size: 24px;
  /*размер шрифта*/
  color: #555;
  /*цвет шрифта*/
  text-decoration: none;
}
.header-top .iw-close:hover,
.header-top .iw-close:focus {
  color: #000;
  /*цвет шрифта при наведении*/
  cursor: pointer;
}
.header-top .iw-modal-text {
  padding: 0;
  padding-top: 23px;
}
.header-top__modal-item {
  margin-bottom: 13px;
}
.header-top__modal-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #1E1E1E;
}

.header-nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__list {
  display: flex;
  align-items: center;
}
.header-nav__item + .header-nav__item {
  margin-left: 25px;
}
.header-nav__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  transition: all 0.6s;
}
.header-nav__link:hover {
  font-weight: 500;
  color: #437fc8;
}
.header-nav__form {
  display: flex;
  justify-content: space-between;
  max-width: 363px;
  width: 1005px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.header-nav__text {
  border: none;
  padding: 8px 18px 14px;
  max-width: 100%;
  width: 100%;
  outline: none;
}
.header-nav__text:placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #6e6e6e;
}
.header-nav__button {
  font-size: 0;
  background-color: #fff;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 11px;
  background-image: url("../img/icon/search.svg");
  background-repeat: no-repeat;
  border: none;
  width: 36px;
  cursor: pointer;
  background-position-y: center;
  background-position-x: left;
}
.header-nav__social {
  display: flex;
  align-items: center;
}
.header-nav__social-item + .header-nav__social-item {
  margin-left: 13px;
}
.header-nav__contact {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.header-nav__phone {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #1E1E1E;
}
.header-nav__span {
  display: block;
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #1E1E1E;
}
.header-nav__order {
  display: flex;
  align-items: flex-end;
}
.header-nav__cart {
  position: relative;
  margin-right: 9px;
}
.header-nav__cart .header-nav__count {
  position: absolute;
  top: -5px;
  left: -4px;
  background: #FC413C;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
}
.header-nav__info-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1E1E1E;
}
.header-nav__num {
  font-weight: 500;
}

.header-menu__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.header-menu__category {
  display: flex;
  align-items: center;
  background: #437fc8;
  border: none;
  border-radius: 5px;
  padding: 16px 16px 17px 23px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
}
.header-menu__category img {
  margin-right: 11px;
}
.header-menu__list {
  display: flex;
  align-items: center;
}
.header-menu__item + .header-menu__item {
  margin-left: 28px;
}
.header-menu__link, .header-menu__sale {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000;
}
.header-menu__sale {
  color: #FC413C;
}

.slider__inner .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 111;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__inner .slick-arrow.slick-prev {
  left: 19px;
}
.slider__inner .slick-arrow.slick-next {
  right: 19px;
}
.slider__inner .slick-dots {
  position: absolute;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  bottom: 34px;
}
.slider__inner .slick-dots li button {
  font-size: 0;
  padding: 0;
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  margin: 0 5px;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.slider__inner .slick-dots li[class=slick-active] button {
  background: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.slider__item {
  background: radial-gradient(33.06% 190.55% at 66.94% 44.11%, #7fb1ed 0%, #437fc8 34.66%, rgba(28, 80, 143, 0.95) 72.16%, #1c4e8a 87.8%, #1a467c 100%), url("img/slider/bg.svg");
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
  padding-top: 105px;
  padding-left: 114px;
  padding-bottom: 108px;
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
}
.slider__info {
  max-width: 470px;
  width: 100%;
}
.slider__info-title {
  font-weight: 600;
  font-size: 45px;
  line-height: 50px;
  color: #fff;
}
.slider__info-text {
  margin-top: 16px;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 22px;
  line-height: 55px;
  color: #fff;
}
.slider__info-link {
  background: #fff;
  border-radius: 30px;
  border: none;
  padding: 18px 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: rgba(28, 80, 143, 0.95);
}

.product {
  padding: 70px 0 100px;
}
.product__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 58px;
  border-top: 1px solid #e5e5e5;
  padding: 25px 0 50px;
}
.product__card {
  max-width: 319px;
  width: 100%;
  height: 500px;
  background-color: #fff;
  transition: all 0.6s;
}
.product__card:hover {
  box-shadow: 0 8px 68px rgba(44, 49, 64, 0.11);
  transform: scale(1.03);
}
.product__content {
  position: relative;
  height: 305px;
}
.product__content img {
  max-width: 100%;
  height: 305px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__content .product__new,
.product__content .product__present {
  position: absolute;
  background: #55bb9f;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  color: #fff;
  padding: 9px 10px;
  top: 0;
  left: 0;
}
.product__content .product__present {
  background: #7fb1ed;
  top: 55px;
}
.product__content .product__sale {
  position: absolute;
  bottom: 4px;
  left: 0px;
  background: #fc443b;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  line-height: 25px;
  color: #fff;
  padding: 7px 10px;
}
.product__info {
  max-width: 100%;
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 305px);
}
.product__price {
  display: flex;
  align-items: center;
  margin-bottom: auto;
}
.product__new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #404040;
}
.product__old-price {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  color: #6e6e6e;
  margin-left: 10px;
  position: relative;
}
.product__old-price:before {
  position: absolute;
  content: "";
  top: 12px;
  left: -4px;
  background-color: #6e6e6e;
  height: 1px;
  width: 70px;
}
.product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E1E1E;
  margin-top: auto;
  margin-bottom: auto;
}
.product__container {
  display: flex;
  align-items: center;
  margin-bottom: auto;
}
.product__comment {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.product__comment-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #6e6e6e;
  margin-left: 5px;
}
.product__buy, .product__not {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: auto;
  border: none;
  background: #437FC8;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  padding: 13px 28px 13px 32px;
}
.product__not {
  background-color: #999;
}
.product__wrapper {
  padding: 20px 0px 44px;
}
.product__banner {
  max-width: 100%;
  display: block;
  background-color: #142840;
  padding-top: 28px;
  padding-bottom: 86px;
  padding-left: 92px;
  background-repeat: no-repeat;
  background-position-x: right;
}
.product__banner-title {
  font-size: 60px;
  line-height: 35px;
  color: #fff;
  margin-bottom: 40px;
}
.product__banner-text {
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}

.catalog {
  padding-bottom: 43px;
}
.catalog__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 28px;
       column-gap: 28px;
  row-gap: 34px;
  border-top: 1px solid #e5e5e5;
  padding-top: 18px;
}
.catalog__card-title {
  font-size: 20px;
  line-height: 24px;
  color: #1E1E1E;
  margin-bottom: 17px;
}
.catalog__list {
  margin-bottom: 26px;
}
.catalog__item {
  margin-bottom: 16px;
}
.catalog__item:last-child {
  margin-bottom: 0px;
}
.catalog__item-link {
  font-size: 15px;
  line-height: 30px;
  color: #404040;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.catalog__number {
  margin-left: 6px;
}
.catalog__link-all {
  font-size: 16px;
  line-height: 30px;
  color: #437fc8;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.catalog__link-all svg {
  margin-left: 12px;
}

.new__inner {
  display: flex;
  -moz-column-gap: 19px;
       column-gap: 19px;
  height: 516px;
}
.new__content-box {
  background: linear-gradient(15.37deg, #142840 5.12%, #1a467c 91.24%);
  border-radius: 5px;
  max-width: 336px;
  width: 100%;
  padding: 49px 24px 10px 19px;
  height: 100%;
  transition: all 0.6s;
}
.new__content-box:hover {
  transform: scale(1.06);
}
.new__content-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 25px;
}
.new__content-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.new__info-top {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 20px;
}
.new__item {
  max-width: 335px;
  width: 100%;
  height: 248px;
  padding: 5px 30px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  z-index: 1;
  transition: all 0.6s;
}
.new__item:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(1.56deg, rgba(40, 40, 40, 0.71) 3.05%, rgba(30, 30, 30, 0) 55.29%);
  z-index: -1;
}
.new__item:hover {
  transform: scale(1.09);
}
.new__item-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  margin-top: auto;
  z-index: 1;
}
.new__block-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
  color: #fff;
}
.new__info-bottom {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.new__block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
  max-width: 690px;
  width: 100%;
  padding: 5px 30px;
  height: 248px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.6s;
}
.new__block:hover {
  transform: scale(1.06);
}

.article {
  padding: 43px 0 62px;
}
.article__text, .article__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #1E1E1E;
}
.article__title {
  font-weight: 500;
}
.article__content {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.article__item {
  margin: 0 45px;
  display: flex;
  flex-direction: column;
}
.article__item-logo {
  margin: 0 auto;
}
.article__item-span {
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #1E1E1E;
}

.footer {
  border-top: 1px solid #e5e5e5;
}

.footer-top {
  padding-top: 11px;
  padding-bottom: 30px;
  display: flex;
}
.footer-top__content {
  margin-right: auto;
}
.footer-top__phone {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #1E1E1E;
}
.footer-top__social {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  margin-top: 15px;
}
.footer-top__social-item + .footer-top__social-item {
  margin-left: 17px;
}
.footer-top__social-link:hover {
  transition: all 0.6s;
}
.footer-top__social-link:hover path {
  fill: #437fc8;
}
.footer-top__info, .footer-top__address {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #404040;
}
.footer-top__list {
  margin: 0 18px;
}
.footer-top__item {
  margin-bottom: 5px;
}
.footer-top__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #404040;
}

.footer-bottom {
  border-top: 1px solid #e5e5e5;
  padding: 19px 0;
}
.footer-bottom__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #404040;
}
.footer-bottom__content {
  display: flex;
  justify-content: center;
}
.footer-bottom__link, .footer-bottom__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #404040;
}/*# sourceMappingURL=style.css.map */