* {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #1e1e1e;
  margin-bottom: 15px;
  text-align: left;
}
.breadcrumbs {
  padding: 28px 0px;
  &__inner {
    max-width: 100%;
  }
  &__list {
    display: flex;
  }
  &__item + .breadcrumbs__item {
    margin-left: 15px;
  }
  &__item {
    position: relative;
    &::after {
      position: absolute;
      content: "/";
      right: -10px;
      top: 8px;
      color: #1e1e1e;
    }
    &:last-child {
      &::after{
        content: none;
      }
    }
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 35px;
    color: #1e1e1e;
    font-weight: 400;
  }
  &__link--active{
    font-weight: 500;
  }
}
