%Montserrat-Regular-400 {
  font-family: "Montserrat-Regular, sans-serif";
  font-style: normal;
  font-weight: 400;
}
%Montserrat-Medium-500 {
  font-family: "Montserrat-Medium, sans-serif";
  font-style: normal;
  font-weight: 500;
}
%Montserrat-SemiBold-600 {
  font-family: "Montserrat-SemiBold, sans-serif";
  font-style: normal;
  font-weight: 600;
}

$default: #1E1E1E;
$bg: #FC413C;
$btn: #437fc8;
$text: #404040;
$line: #6e6e6e;
$link: #437FC8;
